<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lynx - Login</title>
    {% load static %}
    <link href="{% static 'lynx/pico.css' %}" rel="stylesheet">
</head>
<body>
  <main>
    <article>
      <div>
        <hgroup>
          <h1>Lynx</h1>
          <h2>
            {% if next %}
                {% if user.is_authenticated %}
                  Your account doesn't have access to this page. To proceed, please login with an account that has access.
                {% else %}
                  Please login to see this page.
                {% endif %}
            {% else %}
              Login to start saving links!
            {% endif %}
          </h2>
        </hgroup>
        <form method="post" action="{% url 'login' %}">
          {% if form.errors %}
          <p><mark>Your username and password didn't match. Please try again.</mark></p>
          {% endif %}
          {% csrf_token %}
          <label for="username">
            Username
            {{ form.username }}
          </label>
          <label for="password">
            Password
            {{ form.password}}
          </label>  
          <input type="hidden" name="next" value="{{ next }}">
          <button type="submit">Login</button>
        </form>
      </div>
    </article>
  </main>
</body>
</html>