{% extends 'lynx/base_without_nav.html' %}

{% block title %}Login | Lynx{% endblock %}

{% load static %}
{% block content_base %}
<section class="bg-base-100">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center py-4">
        <div class="w-[10rem]">
          {% include 'lynx/logo_full.html' %}
        </div>
      </a>
      <div class="w-full max-w-md card shadow-xl bg-base-300">
        <div class="card-body">
          <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2xl">
            Sign in
          </h1>
          {% if next %}
            <h4>You must login to see this page.</h4>
          {% endif %}
          <form class="space-y-4 md:space-y-6"  method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label class="form-control" for="username">
              <div class="label">
                <span class="label-text">Username</span>
              </div>
              <input type="text" name="username" id="username" class="input input-bordered w-full rounded-lg focus:ring-primary focus:border-primary p-2.5" placeholder="lynx" autocapitalize="false" autocomplete="username" required="">
            </label>
            <label class="form-control" for="password">
              <div class="label">
                <span class="label-text">Password</span>
              </div>
              <input type="password" name="password" id="password" class="input input-bordered w-full rounded-lg focus:ring-primary focus:border-primary p-2.5" placeholder="••••••••" autocomplete="current-password" required="">
            </label>
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" class="w-full text-white btn btn-primary ">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block footer %}{% endblock %}