@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@700&display=swap');

.figtree {
  font-family: Figtree;
}

img.preview-img {
  width: 5rem;
  height: 5rem;
  max-width: unset;
  object-fit: cover;
}


.tag-toggle input[type=checkbox]+label {
  @apply btn btn-primary btn-outline;
}
.tag-toggle input[type=checkbox]:checked+label {
  @apply btn btn-primary;
}
