{% with css_classes=widget.attrs.class|default:'' %}
<div class="relative z-0 w-full my-5 group">
  <input type="{{ widget.type }}" name="{{ widget.name }}" id="{{ widget.name }}" class="block py-2.5 px-0 w-full text-m bg-transparent border-0 border-b-2 border-base-300 appearance-none  focus:outline-none focus:ring-0 focus:border-primary peer" placeholder=" " required {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %} />
  <label for="id_{{ widget.name }}" class="peer-focus:font-medium absolute text-m  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ widget.attrs.display_name }}</label>
</div>
{% endwith %}