{% extends 'lynx/base.html' %}

{% block title %}Add Link{% endblock %}
{% block nav_title %}Add Link{% endblock %}
{% block content %}
  <div>
    <hgroup class="prose">
      <h1>Add Link</h1>
      <h4>Content will be parsed automatically</h4>
    </hgroup>
    <form action="{% url 'lynx:add_link' %}" method="post">
      {% csrf_token %}
      {{ form }}
      <button class="btn btn-primary btn-block">Add Link</button>
    </form>
  </div>
  <script>
    document.querySelector("textarea#id_pasted_content").addEventListener('paste', (event) => {
      const htmlContent = (event.clipboardData || window.clipboardData).getData('text/html');
      if (htmlContent) {
        event.preventDefault();
        document.querySelector("textarea#id_pasted_content").value = htmlContent;
      }
    });
  </script>
{% endblock %}