{% extends 'lynx/base_without_nav.html' %}

{% load static %}

{% block header %}
<header class="h-24">
  <nav>
    <div class="navbar bg-base-100 z-40 fixed top-0 left-0 right-0">
      <div class="navbar-start">
        <a class="btn btn-ghost text-xl font-figtree" href="{% url 'lynx:links_feed' %}">
          <div class="w-16">
            {% include 'lynx/logo_full.html' %}
          </div>
        </a>
      </div>
      <div class="navbar-center hidden md:flex">
        <span class="figtree text-xl">
          <a class="contrast" href="#">{% block nav_title %}{% endblock %}</a>
        </span>
      </div>
      <div class="navbar-end">
          <a href="{% url 'lynx:user_settings' %}">
            <div role="button" class="btn btn-ghost btn-circle">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
            </div>
          </a>
          <a href="{% url 'lynx:add_link' %}">
            <div role="button" class="btn btn-ghost btn-circle">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
          </a>
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
          </div>
          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <li><a href="{% url 'lynx:user_settings' %}">Settings</a></li>
            <li><a href="{% url 'lynx:feeds' %}">Feeds</a></li>
            <li><a href="{% url 'lynx:user_cookies' %}">Cookies</a></li>
            <li><a href="{% url 'lynx:manage_tags' %}">Tags</a></li>
            <li><a href="{% url 'lynx:bulk_upload' %}">Import</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
{% endblock %}

{% block content_base %}
  <div class="container mx-auto px-4">
    {% block content %}{% endblock %}
  </div>
{% endblock %}
