{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@700&display=swap" rel="stylesheet"> 

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'lynx/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'lynx/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'lynx/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'lynx/manifest.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'lynx/icons/safari-pinned-tab.svg' %}" color="#231530">
    
    <title>{% block title %}Lynx{% endblock %}</title>
    <link rel="preload" href="{% static 'lynx/generated/output.css' %}" as="style" />
    <link rel="stylesheet" type="text/css" href="{% static 'lynx/generated/output.css' %}" />
    {% block head %}{% endblock %}
  </head>
  {% block prebody %}{% endblock %}
  <body>
    {% block header %}{% endblock %}
    {% if messages %}
    <div class="toast z-50">
      {% for message in messages %}
        <div role="alert" class="alert alert-{{message.tags}}">
          <span>{{ message }}</span>
        </div>
      {% endfor %}
    </div>
    {% endif %}
    <main>
      {% block content_base %}{% endblock %}
    </main>
    {% block footer %}
    <footer class="footer footer-center p-10 bg-gradient-to-b from-transparent to-base-300 text-base-content">
      <aside>
        <div class="w-12">
          {% include 'lynx/logo_full.html' %}
        </div>
        <p class="figtree">
           © {% now "Y" %} - Made with ♥ by <a href="https://github.com/brendanv">@brendanv</a>
        </p> 
      </aside> 
      <nav>
        <div class="grid grid-flow-col gap-4">
          <a href="https://github.com/brendanv/lynx">
            <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" class="fill-current w-6"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path stroke-width="0"  d="M32 0 C14 0 0 14 0 32 0 53 19 62 22 62 24 62 24 61 24 60 L24 55 C17 57 14 53 13 50 13 50 13 49 11 47 10 46 6 44 10 44 13 44 15 48 15 48 18 52 22 51 24 50 24 48 26 46 26 46 18 45 12 42 12 31 12 27 13 24 15 22 15 22 13 18 15 13 15 13 20 13 24 17 27 15 37 15 40 17 44 13 49 13 49 13 51 20 49 22 49 22 51 24 52 27 52 31 52 42 45 45 38 46 39 47 40 49 40 52 L40 60 C40 61 40 62 42 62 45 62 64 53 64 32 64 14 50 0 32 0 Z"></path></g></svg>
          </a>
        </div>
      </nav>
    </footer>
    {% endblock %}
  </body>
</html>
