<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lynx{% endblock %}</title>
    {% load static %}
    {% if use_class_based_css %}
      <link href="{% static 'lynx/css/pico.min.css' %}" rel="stylesheet">
    {% else %}
      <link href="{% static 'lynx/css/pico.classless.min.css' %}" rel="stylesheet">
    {% endif %}
    {% block head %}{% endblock %}
    <style>
      nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 0 1rem;
        background: var(--background-color);
      }
      nav svg {
        width: 24px;
        height: 24px;
      }
      main {
        margin-top: 1.5rem;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="{% url 'lynx:user_settings' %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
            </svg>
          </a>
        </li>
      </ul>
      <ul>
        <li><strong>Lynx</strong></li>
      </ul>
      <ul>
        <li>
          <a href="{% url 'lynx:add_link' %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M5.625 1.5H9a3.75 3.75 0 013.75 3.75v1.875c0 1.036.84 1.875 1.875 1.875H16.5a3.75 3.75 0 013.75 3.75v7.875c0 1.035-.84 1.875-1.875 1.875H5.625a1.875 1.875 0 01-1.875-1.875V3.375c0-1.036.84-1.875 1.875-1.875zM12.75 12a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V18a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V12z" clip-rule="evenodd" />
              <path d="M14.25 5.25a5.23 5.23 0 00-1.279-3.434 9.768 9.768 0 016.963 6.963A5.23 5.23 0 0016.5 7.5h-1.875a.375.375 0 01-.375-.375V5.25z" />
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
