{% extends 'lynx/base.html' %}
{% load tz %}

{% block title %}Feeds | Lynx{% endblock %}
{% block nav_title %}Manage Feeds{% endblock %}
{% block content %}
<div class="grid grid-cols-2 mb-8">
  <a href="{% url 'lynx:add_feed' %}" class="btn btn-ghost h-20">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>
    Add Feed
  </a>
  <form action="{% url 'lynx:refresh_all_feeds' %}" method="post" class="w-full">
    {% csrf_token %}
    <button type="submit" href="{% url 'lynx:add_feed' %}" class="btn btn-ghost w-full h-20">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
      </svg>
      Refresh All
    </button>
  </form>
</div>
{% for feed in paginator_page.object_list %}
  <div class="pb-6 mb-6 px-2 block w-full border-dotted border-b-2 border-primary">
    <div class="flex">
      <div class="flex-none">
        {% if feed.feed_image_url %}
          <img class="object-cover w-20 h-20 mask mask-squircle" src="{{ feed.feed_image_url }}" alt="{{ feed.feed_name }}"/>
        {% else %}
          {% load static %}
          <img class="object-cover w-20 h-20 mask mask-squircle" src="{% static 'lynx/img/lynx_placeholder.png' %}" alt="{{ feed.feed_name }}"/>
        {% endif %}
      </div>
      <div class="flex-auto min-w-0 indicator mx-4 md:mx-8">
        <div class="min-w-0">
          <h2 class="card-title line-clamp-2 md:line-clamp-1 hover:text-primary"><a href="{% url 'lynx:feed_items' feed.id %}">{{ feed.feed_name }}</a></h2>
          <p class="line-clamp-1 opacity-60">{{ feed.feed_description }}</p>
        <div class="opacity-60">
          {{ feed.num_items }} item{{ feed.num_items|pluralize }} • Last fetched: {{ feed.last_fetched_at|localtime }}
        </div>
        </div>
      </div>
      <div class="flex-none">
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle btn-sm m-x-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
            </svg>
          </div>
          <ul class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52" tabindex="0">
            <form action="{% url 'lynx:refresh_feed' feed.id %}" method="post" class="w-full">
              <li>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                <input type="submit" value="Refresh">
              </li>
            </form>
            <li class="w-full">
              <a href="{% url 'lynx:edit_feed' feed.pk %}" class="z-[1]">Edit Feed</a>
            </li>
            <div class="divider"></div>
            <form action="{% url 'lynx:delete_feed' feed.id %}" method="post" class="w-full">
              <li>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                <input type="submit" class="hover:bg-error hover:text-error-content" value="Delete">
              </li>
            </form>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% include 'lynx/paginator.html' %}
{% endblock %}