{% extends 'lynx/base_without_nav.html' %}

{% block title %}{{ link.title }} | Lynx{% endblock %}

{% load static %}
{% block head_css %}
  <link href="{% static 'lynx/css/reading-indicator.css' %}" rel="stylesheet">
  <style>
    .subtitle-items {
      display: flex;
      gap: 0.3rem;
    }

    .subtitle-items span:last-child {
      margin-left: auto;
    }

    @media (min-width: 1280px) {
      body > main.container {
        grid-template-columns: 4fr 1fr;
        grid-template-areas:
          "header header"
          "body table-of-contents";
        display: grid;
        column-gap: 1.5em;
      }
    }

    #table-of-contents {
      grid-area: table-of-contents;
    }

    #table-of-contents > nav {
      position: sticky;
      top: 3rem;
    }

    .article-header {
      grid-area: header;
    }

    .article-content {
      grid-area: body;
    }
  </style>
{% endblock %}

{% block prebody %}
<div class="reading-indicator"></div>
{% endblock %}

{% block content %}
  <div class="article-header">
    <hgroup>
      <h1>{{ link.title }}</h1>
      <h3 class="subtitle-items">
        <span><a href="{{ link.cleaned_url }}" data-tooltip="View Original" data-placement="left">{{ link.hostname }}</a></span>
        •
        <span>{{ link.read_time_display }}</span>
        <span>{{ link.article_date }}</span>
      </h3>
    </hgroup>
    <hr />
  </div>
  {% if table_of_contents %}
    <aside id="table-of-contents">
      <nav>
        <details open="">
          <summary>Contents</summary>
          <ul>
            {% for heading in table_of_contents %}
            <li>
              <a class="secondary" href="#{{ heading.id }}">{{ heading.display }}</a></li>
            {% endfor %}
          </ul>
        </details>
      </nav>
    </aside>
  {% endif %}
  <div class="article-content">
  <section>
    {{ html_with_sections | safe}}
  </section>
  <footer>
    <a href="{% url 'lynx:link_details' link.id %}">Link details</a>
  </footer>
  </div>
{% endblock %}