<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lynx - {{ link.title }}</title>
    {% load static %}
    <link href="{% static 'lynx/pico.classless.min.css' %}" rel="stylesheet">
</head>
<body>
  <main>
    <header>
        <h1>{{ link.title }}</h1>
    </header>
    <p>This is the details view for my link with ID {{ link.id }}</p>
    <a href="{% url 'lynx:link_viewer' link.id %}">Link details</a>
    <p>Current summary: {{ link.summary }}</p>
    <form action="{% url 'lynx:summarize_link' link.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Summarize">
    </form>
  </main>
</body>
</html>