{% extends 'lynx/base_without_nav.html' %}

{% block title %}{{ link.title }} | Lynx{% endblock %}

{% block prebody %}
<div class="reading-indicator"></div>
{% endblock %}

{% block container_class %}
  {% if table_of_contents %}with_table_of_contents{% endif %}
{% endblock %}

{% block content_base %}
<div class="drawer lg:drawer-open">
  <input id="table-of-contents-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col items-center justify-center p-8">
    <div id="highlight-save-container" class="hidden toast pr-8 pb-24">
      <form method="post" action="{% url 'lynx:add_note' link.pk %}" name="addNoteForm">
        {% csrf_token %}
        <input type="hidden" id="noteInput" name="note" value="">
        <input type="hidden" name="next" value="{{ request.get_full_path }}">
        <input type="submit" value="Save Highlighted Text" class="btn btn-accent">
      </form>
    </div>
    <div class="toast p-8">
      <div class="join">
        {% if table_of_contents %}
          <label for="table-of-contents-drawer" class="btn btn-square join-item drawer-button tooltip" data-tip="Table of Contents">
        {% else %}
          <label for="table-of-contents-drawer" class="btn btn-square btn-disabled join-item drawer-button tooltip" data-tip="Table of Contents">
        {% endif %}
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 m-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
          </svg>
        </label>
        <a href="#" data-tip="Back to top" class="tooltip">
          <button class="btn btn-square join-item">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 18.75 7.5-7.5 7.5 7.5" />
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 7.5-7.5 7.5 7.5" />
            </svg>
          </button>
        </a>
      </div>
    </div>
    <article class="prose prose-lg">
      <hgroup>
        <h1 class="font-figtree">{{ link.title }}</h1>
        <h4>
          <div class="flex justify-between font-figtree">
            <div>
              <span class="tooltip" data-tip="View Original"><a href="{{ link.cleaned_url }}">{{ link.hostname }}</a></span>
              •
              <span>{{ link.read_time_display }}</span>
            </div>
            <span>{{ link.article_date }}</span>
          </div>
        </h4>
        {% if tags %}
        {% for tag in tags %}
          {% include 'lynx/tag.html' with removable=True %}
        {% endfor %}
        {% endif %}
        {% include 'lynx/edit_tag_modal.html' %}
      </hgroup>
      <div class="divider"></div>
      <div>
        {{ html_with_sections | safe}}
      </div>
    </article>
  </div> 
  {% if table_of_contents %}
    <div class="drawer-side">
      <label for="table-of-contents-drawer" aria-label="close sidebar" class="drawer-overlay"></label> 
      <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
        {% for heading in table_of_contents %}
        <li>
          <a href="#{{ heading.id }}">{{ heading.display }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
<script>
  // This is all the JS on the site, can't do highlighting without it :(
  ['mouseup', 'touchend'].forEach(e => document.body.addEventListener(e, () => {
    const selectedText = document.getSelection().toString().trim();
    if (selectedText.length > 0) {
      document.getElementById('highlight-save-container').classList.remove('hidden');
      document.getElementById('noteInput').value = selectedText;
    } else {
      document.getElementById('highlight-save-container').classList.add('hidden');
    }
  }));
</script>
{% endblock %}